h1 Here is how you and other people feel...

div(class='row')
  div(class='col-md-8 col-md-offset-2')
    canvas(id='doughnut', class='chart chart-doughnut', chart-data='allData', chart-labels='labels', chart-legend='true')
