h1 Are you happy?
div(class='row')
  div(class='col-md-4')
    button(type='button', class='btn btn-primary btn-block', ng-click='vote("yes")') Yes
  div(class='col-md-4')
    button(type='button', class='btn btn-primary btn-block', ng-click='vote("no")') No
  div(class='col-md-4')
    button(type='button', class='btn btn-primary btn-block', ng-click='vote("iDontKnow")') I don't know

div(class='row')
  div(class='col-md-12')
    button(type='button', class='btn btn-danger btn-block', ng-click='reset()') Reset

h1 Here is how you and other people feel...

div(class='row')
  div(class='col-md-6')
    canvas(id='pie', class='chart chart-pie', chart-data='allData', chart-labels='labels', chart-legend='true')
  div(class='col-md-6')
    canvas(id='bar', class='chart chart-bar', chart-data='[allData]', chart-labels='labels')

div(class='row')
  div(class='col-md-6')
    canvas(id='doughnut', class='chart chart-doughnut', chart-data='allData', chart-labels='labels', chart-legend='true')
  div(class='col-md-6')
    canvas(id='line', class='chart chart-line', chart-data='[allData]', chart-labels='labels')
